body{
	background: url("https://github.com/matiinve/Blog-papa/blob/gh-pages/backbody4.jpg");
	background-size: cover;
	background-position: center;
	margin: 0px;
	color: black;
	font-size: 15px;
	font-family: Courier;
}

h1{
	font-family: Courier;
	color: white;
	font-weight: lighter;
	font-size: 20px;	
}

.navbar {
	background-color: #03305ddb;
	padding: 2rem 2rem;
}

#banner {
		text-align: center;
		background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(https://github.com/matiinve/Blog-papa/blob/gh-pages/manos2.jpg);
		background-size: cover;
		background-position: center;
		padding: 100px;
		color: white;
		text-shadow: 5px 1px 5px white;
}

#banner h1 {
	color: white;
	font-size: 50px;
}
#banner p {
	color: white;
	opacity: 0.8;
	font-size: 20px;
	font-weight: lighter;
}

#titulo {
	width: inherit;
	border-width: medium;
	border-color: white;
	border-radius: 8px;
	margin: 20px;
	background-color: #03305ddb;

}

#titulo h1{ 
	color: white;
	text-align: center;
}


.card-columns {
	margin: 20px;
}

.card {
	width: auto;
	margin: auto;
}

.card-header {
	background-color: #03305ddb;
	color: white;

}
.fas {
	color: #03305ddb;
}

.fas hover {
	color: red;

}


.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.footer {
  background: #03305ddb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
